*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-
    gradient(rgba(0, 0, 0, 0.75)),url(green_code_background.png);
    background-size: cover;
    background-position: center;
}